[gerrit]
	basePath = /git/projects/
	#canonicalWebUrl = http://san-gerrit1.wrs.com:8080/ # <--Not in DNS.
[database]
	type = POSTGRESQL
	hostname = localhost
	database = reviewdb
	username = gerrit2
[auth]
	type = HTTP
	emailformat = {0}@mydomain.com
[sendemail]
	smtpServer = localhost
[container]
	user = gerrit2
	javaHome = /usr/lib/jvm/java-1.6.0-openjdk-1.6.0.0/jre
[sshd]
	listenAddress = *:29418
[httpd]
	#listenUrl = proxy-http://127.0.0.1:8081/r/ # <-- Didn't work.
	listenUrl = proxy-http://127.0.0.1:8081/
[cache]
	directory = cache
